footer {
    font-family: map-get($fontFamily, robot);
    background-color: map-get($backgroundColor, regular);
    margin-top: 65px;
    
    & .table {
        display: flex;
        justify-content: center;

        #logo-mini {
            width: 50%;
            @include Font(18px, 600);
        }
        
        & .col_footer {
            display: flex;
            flex-direction: column;
            
            & div {
                @include Font(20px, 600);
                margin-bottom: 60px;
            }
        
            & span {
                @include Font(16px, 300);
                width: 40%;
                line-height: 1.9;
            }

        }   

        & .long {
            width: 22%;
        }

        & .blog {
            width: 26%;
        }

    }    
}