footer {
    font-family: map-get($fontFamily, robot);
    background-color: map-get($backgroundColor, regular);
    margin-top: 65px;
    
    & .table {
        display: flex;
        position: relative;
        right: -3%;
       

        #logo_mini {
            width: 30%;
            @include Font(20px, 300);
            display: flex;
            justify-content: start;
            & .logo_footer {
                & #teambit {
                    color: map-get($colorPalette, ocean);
                    @include Font(12px, 600);
                    vertical-align: middle;
                    margin-right: 5px;
                    margin-left: 5px;
                }
            }
            
        }
        
        & .col_footer {
            display: flex;
            flex-direction: column;
            
            & div {
                @include Font(20px, 600);
                margin-bottom: 60px;
            }
        
            & span {
                @include Font(16px, 300);
                width: 40%;
                line-height: 1.9;
            }

        }   

        & .long {
            width: 22%;
        }

        & .blog {
            width: 26%;
        }

    }    
}