navbar {
    @include FlexBetween(70px, row);
    @include Font(15px, 700);
    font-family: map-get($fontFamily, robot);
    background-color: map-get($backgroundColor, regular);
    padding: 22px;
    border-bottom: 1px solid map-get($colorPalette, choco);
    padding: 10px;

    .navbar_sx {
        @include FlexCenter(100%, row);
        height: 100%;
    }
           
    .navbar_dx {
        width: 45%;
        height: 100%;
        & div {
            width: 100%;
        }
        & ul {
            @include FlexBetween(100%, row);
            align-items: center;
            & li {
                list-style-type: none;
            
                & a {
                    &:visited {
                        @include Font (18px, 300);
                        font-family: map-get($fontFamily, robot);
                        text-decoration: none;
                    }
    
                    &:link {
                        @include Font (16px, 300);
                        font-family: map-get($fontFamily, robot);
                        text-decoration: none;
                    }
                }
            }
        }
           
         
        & li:nth-child(5) {
            @include FlexCenter(100%, row);
            border: 1px solid map-get($colorPalette, ocean);
            border-radius: 5px;    ;
            -webkit-border-radius: 5px    ;
            -moz-border-radius: 5px    ;
            -ms-border-radius: 5px    ;
            -o-border-radius: 5px    ;
            padding: 10px 5px;

            & span:nth-child(2) {
                padding: 5px;
            }
        }
        
        & img {
            height: 30px;
            padding: 2px;
        }
    
    }

    
    
}





