$backgroundColor: ("regular": white,
    "special": rgb(255, 231, 210));

$fontFamily: ("regular": "Arial",
    "bold": "Arial Black",
    "robot": "Roboto"
);

@mixin Font ($dimension, $weight) {
    font-size: $dimension;
    font-weight: $weight;
    color: rgb(88, 64, 44);
}

;

$colorPalette: ("ocean": rgb(44, 71, 146),
    "chocolate": rgb(88, 64, 44));


/* Mixin di Flexbox */

@mixin FlexCenter($height, $direction) {
    height: $height;
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin FlexAround($height, $direction) {
    height: $height;
    display: flex;
    flex-direction: $direction;
    justify-content: space-around;
}

@mixin FlexBetween($height, $direction) {
    height: $height;
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
}

@mixin FlexEvenly($height, $direction) {
    height: $height;
    display: flex;
    flex-direction: $direction;
    justify-content: space-evenly;
}

/* End Mixin di Flexbox */