@import "Partials/variables";
@import "Partials/navbar";
@import "Partials/jumbotron";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: map-get($backgroundColor, regular);
}

.container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

navbar {
    height: 70px;
    width: 100%;
}

.jumbotron {
    height: 510px;
    width: 100%;
}
